/** Color codes:

#242424

#3E3E3E

#2C5782

#3870A9

#4E8AC6

**/

html {
    background-color: var(--main-blue);
}

* {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --white: #d1d0c7;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}


body {
    font-size: 1.5vw;
    font-weight: 200;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

h2 {
    font-size: 2vw;
    font-weight: 600;
}

h3 {
    font-size: 1.8vw;
    font-weight: 400;
}

.navbar {
    padding-left: 1vw;;
    backdrop-filter: blur(5px);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 10;
}

.navbar a{
    color: var(--white);
}

.navbar img{
    filter: invert(95%) sepia(15%) saturate(102%) hue-rotate(15deg) brightness(88%) contrast(87%);
    height: 3vh;
}

.navbar img:hover{
    filter: invert(50%);
}

.nav-items {
    display: flex;
    margin-right: 1vw;
}

.nav-items a {
    height: 100%;
    padding: 1vw;
    font-size: 1.5vw;
}

.nav-items a:hover {
    filter: invert(20%);
    text-decoration: underline;
}

.hero { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--white);
    background-image: linear-gradient(70deg, #0c1218 0%, #2f5275 100%);
}

.hero div {
    margin: 2vw;
}

.hero-name {
    align-items: center;
    width: 30%;
}

.names {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.names-container {
    align-self: center;
}

.hero-name h1 {
    font-size: 6vw;
    text-align:end;
}

.social-icons {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 8vh;
}

.social-icon{
    position: absolute;
    filter: invert(95%) sepia(15%) saturate(102%) hue-rotate(15deg) brightness(88%) contrast(87%);
    width: 2.5vw;
    height: 2.5vw;
    transition-duration: 0.2s;
}

.social-icon:hover {
    transition-duration: 0.2s;
    transform: scale(1.4);
    filter: invert(50%);
}

.hero-image {
    width: 30%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 25vw;
}

.hero-role {
    width: 30%;
}

.header {
    margin-bottom: 3vh;
    font-weight: 5vw;
    font-size: 2vw;
}

.container{
    color: var(--white);
    padding: 5vw;
}

.experience {
    height: 100%;
    width: 100%;
    background-color: #1d344b;
    position: relative;
}

.experience-container{
    width: 100%;
    height: 100%;
}

.line{
    margin-bottom: 5vw;
    position: absolute;
    top: 9vw;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: transparent;
    border-left: 2px dotted var(--white);
    transform: translateX(-50%);

}

.experience-flex{
    display: flex;
    justify-content: space-between;
}

.experience-type{
    flex: 1;
    display: flex;
    padding: 1vw;
    align-items: center;
    justify-content: flex-end;

}

.experience-type:nth-of-type(2){
    justify-content: flex-start;
}

.experience-entry{
    flex:1;
    position: relative;
    width: 30vw;
    border: 1px solid var(--white);
    border-radius: 2vw;
    padding: 1vw;
    
}

.experience-entry ul {
    list-style: inside;
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.right{
    margin-left: 6vw;
}

.left{
    margin-right: 6vw;

}

.duration {
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}

.project-tile {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: #263a4d;
}

.cards{
    margin-top: 3vw;
    justify-content: center;    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 2vw;
}

.card {
    position: relative;
    width: 25vw;
    height: 25vw;
    padding-top: 1vw;
    border-radius: 15px;
    background-color: #233546;
    overflow: hidden;
}

.project-name{
    padding-bottom: 0.5vw;
    display: block;
    color: #549ec4;
    text-align: center;
    border-bottom: 1px solid black;
}

.project-image{
    display: block;
    width: 100%;
    height: 100%;
}

.project-image img {
    width: 100%;
    height: 100%;
}

.project-description{
    text-align: center;
    position: absolute;
    padding: 1vw 0.5vw 0 0.5vw;
    top: 0;
    left: 0;
    transition: 0.4s;
    opacity: 0;
    height: 100%;
    border-radius: 15px;
}

.project-description:hover{
    transition: 0.6s;
    opacity: 100%;
    background-color: rgba(16, 16, 26, 0.7);
    backdrop-filter: blur(10px);
}

.skills {
    height: 100vh;
    width: 100%;
    background-color: #1f2d3a;
}

.skill-progress {
    width: 300px;
    height: 2px;
    border: solid 1px red;
}

.skill-progress-filling{
    height: 100%;
    width: 70%;;
    background-color: red;
}

footer {
    background-color: #13191f;
    color: var(--white);
    padding: 10vh 1vw;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 1vw;
    margin-bottom: 1vh;
}

.footer-section p,
.footer-section a {
    font-size: 0.6vw;
    color: var(--white);
    text-decoration: none;
    display: block;
    margin: 0.5vh 0;
}

.footer-section a:hover {
    color: invert(20%);
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 1.5vh;
    font-size: 0.5vw;
    color: var(--main-gray);
}

.role-mobile { display: none; }

@media (max-width: 600px) {
    
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        color: var(--white);
        background-image: linear-gradient(70deg, #0c1218 0%, #2f5275 100%);

    }
    
    .hero-name {
        padding-top: 2vh;
        align-items: center;
        width: 50%;
        order: 2;

    }

    .names-container {
        display: flex;
        align-self: center;
        justify-content:start;

    }
    
    .names-container h1{
        margin-left: 5px;
        margin-right: 5px;
    }

    .social-icons { 

        display: flex;
        align-items: center;
        gap: 4vw;
        height: 8vh;
    }

    .social-icon{
        position: relative;
        filter: invert(95%) sepia(15%) saturate(102%) hue-rotate(15deg) brightness(88%) contrast(87%);
        width: 8vw;
        height: 10vh;
    }

    .hero-image {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .hero-image img {
        width: 60vw;
    }

    .hero-role {
        order: 3;
        width: 80%;
        font-size: 20px;
        text-align: center;
    }

    .role-desktop {
        display: none; 
    }

    .role-mobile {
        display: block; 
    }

    .navbar {
        padding-left: 1vw;;
        backdrop-filter: blur(5px);
        display: flex;  
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 8%;
        position: fixed;
        z-index: 10;
    }
    
    .navbar img{
        filter: invert(95%) sepia(15%) saturate(102%) hue-rotate(15deg) brightness(88%) contrast(87%);
        height: 7vh;
        margin: 2vh;
    }
 
    .nav-items a {
        height: 100%;
        padding: 2vw;
        font-size: 5vw;
    }

    .line{
        display: none;
    }

    .experience-flex{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5vh;    
    }

    .experience-type{
        flex: 1;
        display: flex;
        padding: 1vw;
        align-items: center;
        justify-content: flex-end;
        
    }

    .experience-type h3{
        font-size: 3vw;
    }

    .experience-type:nth-of-type(2){
        justify-content: flex-start;
    }

    .experience-entry{
        flex:1;
        position: relative;
        width: 30vw;
        border: 1px solid var(--white);
        border-radius: 2vw;
        padding: 1vw;
        flex: 0 0 70%;
        
    }
    
    .experience-entry h3 {
        font-size: 4vw;
    }

    .duration {
        font-size: 3vw;
        padding-bottom: 5px;
    }

    .experience-entry ul {
        list-style: inside;
        font-size: 3vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .header h2{
        font-size: 5vw;
    }

    .cards{
        gap: 5.5vw;
    }

    .card {
        width: 55vw;
        height: 55vw;
    }

    .project-name{
        font-size: 4vw;
    }

    .project-description{
        font-size: 3.5vw;
    }

    .project-description:focus{
        transition: 0.6s;
        opacity: 100%;
        background-color: rgba(16, 16, 26, 0.7);
        backdrop-filter: blur(10px);
    }

    footer{
        padding: 2vh 1vw;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

    .footer-section {
        flex: 1 1 200px;
        text-align: center;
    }

    .footer-section h3 {
        font-size: 3.5vw;
    }

    .footer-section p,
    .footer-section a {
        font-size: 2.5vw;
    }



    .footer-bottom {
        text-align: center;
        font-size: 3vw;
    }

}
